.ck.ck-input-text.image-max-width-input {
    min-width: 100px;
    width: 100px;
}

.ck-content .image {
    transition: width 0.5s, height 0.5s;
}

.ck-content .image img {
    transition: width 0.5s, height 0.5s;
}

